<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    {% include "header.html" %}
    <main>
      <div class="wrapper">{% block content %} {% endblock %}</div>
    </main>
  </body>
</html>
