{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% macro search_bar(placeholder) %}
  <div class="input-group">
    <input type="search" placeholder="{{ placeholder }}">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
{% endmacro %}
{% if user.person_type != "admin" %}
<h1 class="title text-center">Dashboard</h1>
  {% set header_text = "Anträge" if user.person_type == "customer" else "Kreditanträge" %}
    <div  id="applications_table" >
      <section class="table__header">
        <h1>{{ header_text }}</h1>
        {{ search_bar("Suche...") }}
      </section>
      <section class="table__body">
        <div class="table-body">
          <table>
            <thead>
              <tr>
                <th class="border-top-left-radius">ID</th>
                <th>Antrag</th>
                <th>Typ</th>
                <th>Höhe</th>
                <th>Term (Jahre)</th>
                <th>Status</th>
                <th>Erstelldatum</th>
                <th>Entscheidungsdatum</th>
                <th class="{% if user.person_type == 'customer' %}border-top-right-radius{% endif %}">Dateien</th>
                {% if user.person_type == "employee" %}
                  <th>Entscheidung</th>
                  <th>Grund</th>
                  <th class="border-top-right-radius">Aktionen</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for app in applications %}
                <tr class="{{ app.status_class }}">
                  <td>{{ app.id }}</td>
                  <td>{{ app.loan_type }}</td>
                  <td>{{ app.loan_subtype }}</td>
                  <td>{{ app.requested_amount }}</td>
                  <td>{{ app.term_in_years }}</td>
                  <td>
                    <p class="status">
                      {% if app.status == "angenommen" %}
                        Angenommen
                      {% elif app.status == "in bearbeitung" %}
                        In Bearbeitung
                      {% else %}
                        Abgelehnt
                      {% endif %}
                    </p>
                  </td>
                  <td>{{ app.created_at }}</td>
                  <td>{{ app.decided_at }}</td>
                  <td>
                    {% if app.files %}
                    <ul class="status-{{ app.status_class }}">
                      {% for f in app.files %}
                        <li>
                          {% if f.file_type.startswith('image/') %}
                          <img src="/static/icons/photo.png" alt="icons"  />
                        {% else %}
                           <img src="/static/icons/pdf.png" alt="icons"  />
                        {% endif %}                 
                          <a href="/download/{{ f.id }}">{{ f.file_name }}</a>
                        </li>
                      {% endfor %}
                      {% if app.status == "in bearbeitung" %}
                      <form action="/upload" class="flex-center upload-form ">
                        <input type="hidden" name="application_id" value="{{ app.id }}">
                        <button class="btn" type="submit">Dateien hochladen</button>
                      </form>
                      {% endif %}
                    </ul>
                  {% else %}
                    <div class="flex flex-center flex-space-between">
                      <span>Keine Dateien</span>
                      <form action="/upload" class="flex-center upload-form">
                        <input type="hidden" name="application_id" value="{{ app.id }}">
                        <button class="btn" type="submit">Dateien hochladen</button>
                      </form>
                    </div>
                  {% endif %}
                  </td>
                  {% if user.person_type == "employee" %}
                    <td>
                      <p>{{ "Ablehnen" if app.decision == "rejected" else "Annehmen" }}</p>
                    </td>
                    <td>
                      <p>{{ app.reason }}</p>
                    </td>
                    <td>
                      <form method="POST" action="/dashboard/decision" class="flex-center decision">
                        <input type="hidden" name="application_id" value="{{ app.id }}">
                        <input type="hidden" name="decision" value="accept">
                        <button class="btn btn-success" type="submit">Annehmen</button>
                      </form>
                      <form method="POST" action="/dashboard/decision" class="flex-center decision">
                        <input type="hidden" name="application_id" value="{{ app.id }}">
                        <input type="hidden" name="decision" value="reject">
                        <button class="btn btn-danger" type="submit">Ablehnen</button>
                      </form>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      {% if user.person_type == "customer" %}
        <p class="text-center loan-button">
          <a class="btn" href="/loan">Einen Kreditantrag erstellen</a>
        </p>
      {% endif %}
    </div>
    <script src="{{ url_for('static_files', path='scripts/script.js') }}"></script>
{% elif user.person_type == "admin" %}
<h1 class="title text-center">Dashboard</h1>   
    <div  id="users_table">     
       <section class="table__header">
      <h1>Benutzerverwaltung</h1>
      {{ search_bar("Suche...") }}
    </section>
    <section class="table__body">
      <div class="table-body">
        <table>
          <thead>
            <tr>
              <th class="border-top-left-radius">ID</th>
              <th>Name</th>
              <th>Email</th>
              <th class="border-top-right-radius">Typ</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
              <tr class="{{ u.person_class }}">
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.email }}</td>
                <td>
                  <form method="POST" action="/dashboard/update-user" class="user-management flex-center flex-direction-row">
                    <input type="hidden" name="user_id" value="{{ u.id }}">
                    <select name="person_type" class="{{ u.person_class }}">
                      <option value="customer" {% if u.person_type == "customer" %}selected{% endif %}>Kunde</option>
                      <option value="employee" {% if u.person_type == "employee" %}selected{% endif %}>Mitarbeiter</option>
                      <option value="admin" {% if u.person_type == "admin" %}selected{% endif %}>Admin</option>
                    </select>
                    <button class="btn" type="submit">Update</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section></div>
    <script src="{{ url_for('static_files', path='scripts/script.js') }}"></script>

{% endif %}

{% endblock %}
