{% extends "base.html" %} {% block title %}Passwort Vergessen{% endblock %} {%
block content %}
<h1>Passwort Vergessen</h1>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<form method="post" action="/forgot_password" class="forgot_password">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required />
  <button class="btn" type="submit">E-Mail zuschicken</button>
  <button class="btn" type="button" onclick="window.location.href='login';">
    <i class="fa-solid fa-lock"></i>
    <span>Anmelden</span>
  </button>
</form>
{% endblock %}
