<div class="header flex flex-center">
  <div class="logo-container">
    <a href="/">
      <img src="/static/images/logo1.png" alt="Logo" class="logo" />
    </a>
  </div>
  <div class="header-menu">
    <ul class="flex">
      <li>
        <a href="/" class="{{ 'active' if request.path == '/home' else '' }}"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/dashboard"
          class="{{ 'active' if request.path == '/dashboard' else '' }}"
          >Dashboard</a
        >
      </li>
      <li>
        <a
          href="/about_us"
          class="{{ 'active' if request.path == '/about_us' else '' }}"
          >Über uns</a
        >
      </li>
      {% if user is not none %} {% if user.person_type == "customer" %}
      <li>
        <a
          class="{{ 'active' if request.path == '/loan' else '' }}"
          href="/loan"
          >Antrag erstellen</a
        >
      </li>
      {% endif %} {% endif %}
      <li>
        <a href="/">Kontakt</a>
      </li>
    </ul>
  </div>
  <div class="user flex">
    {% if user %}
    <div class="flex user-info flex-direction-column">
      <i class="fa-solid fa-user"></i>
    </div>
    <a class="logout" href="/logout" style="float: right">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
    {% else %}
    <a class="login" href="/login" style="float: right">
      <i class="fa-solid fa-lock"></i>
    </a>
    {% endif %}
  </div>
</div>
