{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="home-title text-center">Unser Produkte</h1>
<div class="home-container flex items-centerr justify-center flex-row">
  <div class="box_main flex flex-direction-column">
    <a href="/loan?loan_type=Baudarlehen" class="text-center">
      <i class="fa-solid fa-building"></i>
      <h1>Baudarelehen</h1>
    </a>
  </div>
  <div class="box_main flex flex-direction-column">
    <a href="/loan?loan_type=Sofortkredit" class="text-center">
      <i class="fa-solid fa-euro-sign"></i>
      <h1>Sofortkredit</h1>
    </a>
  </div>
</div>
{% endblock %}
