{% extends "base.html" %} {% block title %}Dateien Hochladen{% endblock %} {%
block content %}

<h1>Dateien Hochladen</h1>
<form
  id="uploadForm"
  method="post"
  action="/upload_temp"
  enctype="multipart/form-data"
>
  <input type="hidden" name="application_id" value="{{ application_id }}" />

  <label for="files" class="custom-file-upload btn margin-0">
    Datei auswählen (Bilder oder PDFs)
  </label>
  <input
    type="file"
    id="files"
    accept="image/*, .pdf"
    name="files"
    multiple
    required
    class="hidden-file-input"
  />
  <ul id="selectedFiles" class="hidden"></ul>

  <button class="btn" type="submit">Hochladen</button>
</form>

<h2>Dateien</h2>
<ul id="fileList">
  {% if temp_files %} {% for file_info in temp_files %}
  <li id="file-{{ file_info.id }}">
    <div class="flex flex-center flex-space-between">
      <a
        href="/download/{{ file_info.id }}"
        class="flex flex-center no-link-style"
      >
        {{ file_info.file_name }}
      </a>
      <button class="delete-btn btn margin-0" data-file-id="{{ file_info.id }}">
        Löschen
      </button>
    </div>
  </li>
  {% endfor %} {% else %}
  <p id="noFiles">Keine Datei wurde Hochgeladen.</p>
  {% endif %}
</ul>

<a class="btn" href="/dashboard">Fertig</a>

<script src="/static/scripts/Upload-Template.js"></script>
{% endblock %}
