{% extends "base.html" %} {% block title %} Upload erfolgreich {% endblock %} {%
block content %} {% if rejected %}
<div class="flex flex-col max-w-xl mx-auto">
  <h2 class="text-center">
    Es tut uns leid, aber Ihr Kreditantrag wurde abgelehnt.
  </h2>
  {% if rejected_reason %}
  <p>Grund: {{ rejected_reason }}</p>
  {% endif %} {% else %}
  <h2 class="text-center">
    Ihr Darlehensantrag wurde angenommen und wird bearbeitet.
  </h2>
  {% endif %}
  <a href="/dashboard">Startseite</a>
</div>

{% endblock %}
