{% extends "base.html" %} {% block title %} Upload erfolgreich {% endblock %} {%
block content %} {% if rejected %}
<div class="flex flex-col max-w-xl mx-auto">
  <h2 class="text-center text-3xl text-red-500">
    Es tut uns leid, aber Ihr Kreditantrag wurde abgelehnt.
  </h2>
  {% if rejected_reason %}
  <p class="text-center text-2xl mt-5 text-red-500">
    Grund: {{ rejected_reason }}
  </p>
  {% endif %} {% else %}
  <h2 class="text-center text-3xl text-green-500">
    Ihr Darlehensantrag wurde angenommen und wird bearbeitet.
  </h2>
  {% endif %}
  <a class="text-center btn mt-5" href="/dashboard">Startseite</a>
</div>

{% endblock %}
