$font-stack: "Open Sans", Arial, sans-serif;
$primary-color: #333;
$accent-color: #007bff;
$background-color: #1d2125;
$border-radius: 6px;
$color: #fff;

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  background-color: $background-color;
  color: $color;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba($primary-color, 0.1);
  width: 320px;
}

h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin: 0.5rem 0 0.25rem;
    font-weight: 600;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  #password,
  select {
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
      outline: none;
      border-color: $accent-color;
      box-shadow: 0 0 3px rgba($accent-color, 0.5);
    }
  }

  input[type="submit"] {
    background-color: $accent-color;
    color: #ffffff;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-radius: $border-radius;
    font-weight: 600;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.address {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
.street-house-number,
.zip-city {
  display: flex;
}
#submitBtn.enabled {
  background-color: $accent-color;
  color: #fff;
  border-color: unset;
  padding-top: 10px;
  padding-bottom: 10px;
}
#submitBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.hidden-file-input {
  display: none;
}
#selectedFiles {
  list-style: none;
  padding: 0;
  margin: unset;
}
#selectedFiles li {
  padding: 0.3rem 0;
  font-size: 0.9rem;
  color: #555;
}
.btn {
  display: inline-block;
  padding: 0.6rem 1rem;
  background-color: $accent-color;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.flex-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.flex.flex-center.flex-space-between {
  gap: 10px;
}
.requested-amount,
#termGroup,
#repayAmountGroup {
  display: flex;
  flex-direction: column;
  input {
    height: 35px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 0 14px;
  }
}
.loan-form {
  #submitBtn {
    margin-top: 10px;
  }
  #submitBtn.enabled {
    margin-top: 10px;
    border: unset;
  }
}
.no-list-style {
  list-style: none;
}
.no-link-style {
  text-decoration: none;
  color: #000;
}
.margin-0 {
  margin: 0px;
}
.hidden {
  display: none;
}
#selectedFiles + button {
  margin-top: 1rem;
}
.custom-file-upload {
  margin-bottom: 1rem;
}
.login-register-inputs {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 0 14px;
}
.login-register-inputs + button {
  margin-top: 10px;
}

.first_name,
.last_name,
.password,
.email,
.zip,
.city,
.street,
.house_number,
.country {
  label {
    display: block;
  }
  input {
    width: 95%;
  }
}
.first_name,
.last_name {
  input {
    width: 88%;
  }
}

.logo-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    max-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
.flex.flex-space-between:has(.logo-container) {
  padding: 15px;
}
a.btn {
  text-decoration: none;
}
.logout img {
  width: 30px;
  height: 30px;
}
.user {
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 18px;
  position: relative;
  top: -21px;
  img {
    width: 30px;
    height: 30px;
  }
}
.flex.user-info {
  flex-direction: column;
  position: relative;
  top: 21px;
  align-content: center;
  align-items: center;
}
.user-management {
  flex-direction: row;
  button {
    left: 65px;
    position: relative;
  }
  select {
    position: relative;
    left: 40px;
  }
}
a {
  color: $color;
}
td:has(ul.margin-0) {
  vertical-align: baseline;
}
.col.flex {
  flex-direction: column;
  align-items: center;
}
.dashboard-container .flex:not(.col) {
  border: 1px solid #ccc;
  padding: 1rem;
  gap: 34px;
}
.col-email {
  min-width: 220px;
}
.full-width {
  width: 100%;
}
.dashboard-container {
  width: 65%;
}
.col-actions.flex {
  position: relative;
  left: -63px;
}
.admin,
.rejected {
  background: #a31e1e;
}
.employee,
.approved {
  background: #1e5128;
}
.customer,
.in-progress {
  background: #2d4263;
}
.text-center {
  text-align: center;
}
